/* --------- COLORS ---------- */
/* Purple    - rgb(133,36,204) */
/* Brighter Purple - #AD00E8   */
/* Gray      - rgb(36,42,53)   */
/* Dark Gray - rgb(24,26,34)   */

/* ----- FONTS ----- */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

/* -------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #fff;
    background-color: rgb(24,26,34);

    font-size: 20px;
    font-family: 'Karla', sans-serif;
    text-rendering: optimizeLegibility;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

section {
    padding: 60px 0;
}

p, h1, h2, h3 {
    margin-bottom: 20px;
}

p {
    font-size: 90%;
    font-weight: 400;
    line-height: 160%;
}

h1 {
    font-size: 300%;
    font-weight: 800;
    text-align: center;
}

h2 {
    font-size: 180%;
    font-weight: 800;
}

h3 {
    font-size: 120%;
    font-weight: 700;
    margin-bottom: 25px;
}

/* -------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------- */
.group:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1400px;
}

.align-center {
    text-align: center;
}

.bg-gray {
    background-color: rgb(36,42,53)
}

.main-copy {
    margin: 0 auto;
    font-size: 150%;
    font-weight: 400;
    max-width: 600px;
}

.text-content {
    height: 280px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.text-content:after {
    content: "";
    width: 100%;
    height: 4em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image : linear-gradient(to bottom, rgba(24,26,34, 0), rgba(24,26,34, 1) 80%);
}

/* -------------------------------------- */
/* HEADER */
/* -------------------------------------- */
header {
    /* min-height: 800px; */
    background-color: rgb(133,36,204);
}

.top-bar {
    padding: 30px 45px;
}

.top-bar .logo {
    float: left;
    font-size: 120%;
    font-weight: 700;
    letter-spacing: 0.8px;
    font-family: 'Poppins', 'Karla', sans-serif;
}

.top-bar nav {
    float: left;
    margin-left: 100px;
}

.main-nav {
    float: left;
    margin-top: 3px;
}

.main-nav li {
    display: inline-block;
    margin-right: 80px;
    vertical-align: middle;
}

.main-nav li a {
    font-size: 80%;
    font-weight: 500;
    vertical-align: middle;
}

.main-nav li a > i {
    font-size: 60%;
    margin-left: 10px;
    transform: translateY(-1px);
}

.page-options {
    float: right;
    margin-top: 5px;
}

.page-options a {
    font-size: 70%;
    font-weight: 400;
    vertical-align: middle;
}

.page-options a i {
    vertical-align: middle;
}

.page-options .docs-link {
    color: #000;
    padding: 9px 13px;
    border-radius: 5px;
    background-color: #fff;
    transition: opacity 0.2s;
}

.page-options .docs-link:hover {
    opacity: 0.7;
}

.page-options .docs-link i{
    font-size: 130%;
    margin-right: 8px;
    margin-bottom: 2px;
}

.page-options .theme-link i {
    font-size: 150%;
    margin-left: 20px;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.page-options .theme-link i:hover {
    opacity: 1;
}

header h1 {
    margin: 0 auto;
    max-width: 900px;
    padding: 210px 20px 300px;
    line-height: 125%;
    font-family: 'Poppins', 'Karla', sans-serif;
}

/* -------------------------------------- */
/* FEATURES SECTION */
/* -------------------------------------- */
.feature-boxes {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.feature-box {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0 10px;
    border-radius: 6px;
    transition: background-color 0.2s, transform 0.2s;
}

.feature-box:hover {
    transform: scale(1.05);
    background-color: rgb(24,26,34);
}

/* .feature-box svg {
    width: 64px;
    height: 64px;
    margin: 30px auto;
} */

.feature-box img {
    width: 64px;
    height: 64px;
    margin: 30px auto;
}

.feature-box p {
    max-width: 370px;
    font-size: 90%;
    font-weight: 400;
    line-height: 160%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.feature-box > p.call-to-action {
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: #AD00E8;
    border-bottom: 2px solid #AD00E8;
}

.feature-box > i.fas {
    font-size: 70%;
    color: #AD00E8;
}

/* -------------------------------------- */
/* FAQ SECTION */
/* -------------------------------------- */
.section-faq {
    padding-top: 90px;
}

.section-faq > .row {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.section-faq li {
    position: relative;
    margin-bottom: 35px;
}

.section-faq li a {
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    line-height: 160%;
    color: rgb(180, 180, 180);
    transition: color 0.2s;
}

.section-faq li a:hover {
    color: #fff;
}

.section-faq li.current-question a {
    color: #AD00E8;
    border-bottom: 2px solid #AD00E8;
}

.section-faq li.current-question > i.fas {
    content: ">";
    color: #AD00E8;
    position: absolute;
    top: 8px;
    left: -28px;
    font-size: 70%;
}

.section-faq h2 {
    max-width: 780px;
}

.section-faq .call-to-action {
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    border-bottom: 2px solid #fff;
    transition: border 0.2s;
    cursor: pointer;
}

.section-faq .call-to-action:hover {
    border-bottom: 2px solid #999;
}

.section-faq i.fas {
    font-size: 60%;
    margin-left: 3px;
    vertical-align: middle;
}

/* -------------------------------------- */
/* MORE FEATURES */
/* -------------------------------------- */
.section-features .wide-copy {
    max-width: 1000px;
}